.footer {
    background-color: blue;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 30px;
}

.copy {
    font-size: 30px;
    color: white;
    margin-right: 30px;
}